# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
chess_env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Private Docs
implementation_plan.md.resolved
